$theme-primary-text: #4e5359;
$theme-primary-color: #5b7c99;
$theme-primary-link: #5479f7;
$theme-primary-border: #c3c3c3;
$theme-primary-bg: #f3f3f3;

/* $theme-secondary-text: #000; */
$theme-secondary-color: #f25e0f;
/* $theme-secondary-link: #000; */
// $theme-secondary-border: #cecece;
$theme-secondary-bg: #fdf1e9;

/* $theme-tertiary-text: #000; */
/* $theme-tertiary-color: #000; */
/* $theme-tertiary-link: #000; */
/* $theme-tertiary-border: #000; */
$theme-tertiary-bg: #edf0fe;

/* $theme-success: #000; */
/* $theme-warning: #000; */
/* $theme-danger: #000; */

$transition-all-quarter-sec: all 0.4s;
$theme-primary-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
  0 1px 3px 1px rgba(60, 64, 67, 0.15);
